.docs-container {
  padding: 1ex;
}

.demo-piece-container {
  margin-bottom: 1em;
}

.taxonomy-term {

  &.tag1 {
    background-color: #f15c44;
  }

  &.tag2 {
    background-color: #5c9144;
  }

  &.tag3 {
    background-color: #88acf1;
  }

  &.tag4 {
    background-color: #0077cc;
  }

  &.tag5 {
    background-color: #132d68;
  }

  &.tag6 {
    background-color: #4D344A;
  }

}