<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>this is an app for testing app configuration issues</title>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/node_modules/webgme/dist/webgme.classes.build.js"></script>
    <script src="/dist/ng-gme.js"></script>
    <script src="./app.js"></script>
</head>
<body on-gme-init="clientLoaded()">
<!-- Start the main application -->
<script type="text/javascript">
    function clientLoaded(){
        console.log('gme successfully initialized and loaded');
        angular.bootstrap(document, ['testApp']);
    }
</script>
<div ng-controller="blactrl">
    <h4>List of models in the project</h4>
    <ul>
        <li><input type="text" ng-model="newModelName">
            <button ng-click="duplicate(newModelName)">duplicate</button>
        </li>
        <li data-ng-repeat="modelId in modelIds">{{ modelId }}</li>

    </ul>

</div>
</body>
</html>